*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
.idea/
src/amma/.vs/*
src/amma/x64/
src/amma/
src/amma/amma/x64/
src/amma/!.vs/settings.json
src/amma/!.vs/tasks.json
src/amma/!.vs/launch.json
src/amma/!.vs/extensions.json
src/amma/!.vs/*.code-snippets

# Local History for Visual Studio Code
src/amma/.history/

# Built Visual Studio Code Extensions
src/amma/*.vsix